@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Comforter+Brush&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Amatic SC", cursive;
	font-size: 24px;
	font-weight: 700;
	transition: 0.2s;
	background-color: #000;
	cursor: url('./img/cur/NeonLinkSelect06-Green.cur'), default;

}
.keyboard_display {
	font-family: 'Amatic SC', cursive;
	font-family: 'Comforter Brush', cursive;
	font-size: 48px;
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 10px;
}

.keyboard {
	&_wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		position: relative;
		overflow: hidden;
		border-radius: 6px;
		max-width: 990px;
		width: 100%;
		background-color: #e7e7e7;
		margin-top: 50px;
		
	}
	&_display {
		font-family: 'Amatic SC', cursive;
		font-family: 'Comforter Brush', cursive;
		font-size: 56px;
		letter-spacing: 7px;
		width: 990px;
		height: 250px;
		background-color: #000;
		border-radius: 5px;
		color: #fff;
		resize: none;
		outline: none;
		cursor: url('./img/cur/NeonTextSelect03-Purple.cur'), default;
		padding-left: 10px;
		text-shadow: 0 0 .4px #fff, 0 0 .5px #fff, 0 0 .8px #fff, 0 0 1px #0fa, 0 0 2px #0fa, 0 0 3px #0fa, 0 0 4px #0fa,
			0 0 5px #0fa;
	}
	&_title {
		border: 3px solid #fff;
		border-radius: 10px;
		padding: 25px;
		margin-bottom: 60px;
		box-shadow: 0 0 0.24px #fff, 0 0 0.24px #fff, 0 0 48px #0fa, 0 0 19px #0fa, 0 0 67px #0fa, inset 0 0 32px #0fa;
		animation: flicker 1.5s infinite alternate;
	}
}
@keyframes flicker {
	0%,
	18%,
	22%,
	25%,
	53%,
	57%,
	100% {
		text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa, 0 0 50px #0fa, 0 0 60px #0fa, 0 0 80px #0fa,
			0 0 120px #0fa;
	}
	20%,
	24%,
	55% {
		text-shadow: none;
	}
}

@keyframes flicker_keyboard_1 {
	0%,
	18%,
	22%,
	25%,
	53%,
	57%,
	100% {
		text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #bc13fe, 0 0 80px #bc13fe, 0 0 90px #bc13fe,
			0 0 100px #bc13fe, 0 0 150px #bc13fe;
	}
	20%,
	21%,
	23% {
		text-shadow: none;
	}
}

.row {
	display: flex;
}

.neonBox {
	box-shadow: 0 0 0.5px #fff, 0 0 0.7px #fff, 0 0 10px #bc13fe, 0 0 12px #bc13fe, 0 0 15px #bc13fe,
		inset 0 0 10px #bc13fe;
}
.neon_text_flicker {
	color: #fff;
	animation: flicker 1.5s infinite alternate;
}
.neon_keyboard_flicker-1 {
	color: #fff;
	animation: flicker_keyboard_1 2.5s infinite alternate;
}
.key {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsl(0, 2%, 13%);
	border-radius: 5px;
	width: 60px;
	height: 60px;
	margin: 2px;
	color: #fff;
	cursor: url('./img/cur/NeonLinkSelect04-Blue.cur'), default;
	box-shadow: 0 0 0.2px #fff, 0 0 0.3px #fff, 0 0 3px #bc13fe, 0 0 4px #bc13fe, 0 0 5px #bc13fe, inset 0 0 10px #bc13fe;
	text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 9px #fff, 0 0 11px #bc13fe, 0 0 15px #bc13fe, 0 0 17px #bc13fe,
		0 0 22px #bc13fe, 0 0 51px #bc13fe;
	&_backspace {
		width: 125px;
	}
	&_tab {
		width: 90px;
	}
	&_slash {
		width: 95px;
	}
	&_capsLock {
		width: 98px;
	}
	&_enter {
		width: 153px;
	}
	&_shift {
		width: 125px;
	}
	&_space {
		max-width: 455px;
		width: 100%;
	}
}

.lang_description {
	color: #fff;
	text-align: center;
	padding-top: 40px;
}
@keyframes keys_remove_animation {
	0% {
		background-color: #bc13fe;
		color: #fff;
	}
	100% {
		background-color: #fff;
		color: #fff;
	}
}
.key[data-code="Backspace"] {
	width: 153px;
	box-shadow: 0 0 0.5px #fff, 0 0 0.7px #fff, 0 0 10px #bc13fe, 0 0 12px #bc13fe, 0 0 15px #bc13fe,
	inset 0 0 28px #bc13fe;
}
.key[data-code="Tab"] {
	width: 90px;
	box-shadow: 0 0 0.5px #fff, 0 0 0.7px #fff, 0 0 10px #bc13fe, 0 0 12px #bc13fe, 0 0 15px #bc13fe,
	inset 0 0 28px #bc13fe;
}
.key[data-code="Backslash"] {
	width: 60px;
	box-shadow: 0 0 0.5px #fff, 0 0 0.7px #fff, 0 0 10px #bc13fe, 0 0 12px #bc13fe, 0 0 15px #bc13fe,
	inset 0 0 28px #bc13fe;
}
.key[data-code="CapsLock"] {
	width: 110px;
	box-shadow: 0 0 0.5px #fff, 0 0 0.7px #fff, 0 0 10px #bc13fe, 0 0 12px #bc13fe, 0 0 15px #bc13fe,
	inset 0 0 28px #bc13fe;
}
.key[data-code="Enter"] {
	width: 167px;
	box-shadow: 0 0 0.5px #fff, 0 0 0.7px #fff, 0 0 10px #bc13fe, 0 0 12px #bc13fe, 0 0 15px #bc13fe,
	inset 0 0 28px #bc13fe;
}
.key[data-code="KeyW"] {
	animation: flicker_keyboard_1 5s infinite alternate;
}
.key[data-code="KeyD"] {
	animation: flicker_keyboard_1 0.5s infinite alternate;
}
.key[data-code="ShiftLeft"],
.key[data-code="ShiftRight"] {
	width: 139px;
	box-shadow: 0 0 0.5px #fff, 0 0 0.7px #fff, 0 0 10px #bc13fe, 0 0 12px #bc13fe, 0 0 15px #bc13fe,
	inset 0 0 28px #bc13fe;
}
.key[data-code="Space"] {
	width: 444px;
}
.key[data-code="ControlRight"],
.key[data-code="ControlLeft"] {
	width: 75px;
	box-shadow: 0 0 0.5px #fff, 0 0 0.7px #fff, 0 0 10px #bc13fe, 0 0 12px #bc13fe, 0 0 15px #bc13fe,
	inset 0 0 28px #bc13fe;
}
.key.active {
	animation: keys_remove_animation 0.5s forwards;
}
.key[data-code="Backquote"],
.key[data-code="Delete"],
.key[data-code="AltLeft"],
.key[data-code="AltRight"],
.key[data-code="MetaLeft"] {
	box-shadow: 0 0 0.5px #fff, 0 0 0.7px #fff, 0 0 10px #bc13fe, 0 0 12px #bc13fe, 0 0 15px #bc13fe,
	inset 0 0 28px #bc13fe;
}
